@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Plus+Jakarta+Sans:wght@300;400;500;600;700&display=swap');
@import "tailwindcss";

@theme {
  --font-serif: "DM Serif Display", serif;
  --font-sans: "Plus Jakarta Sans", sans-serif;
  
  --color-brand-primary: #092900;
  --color-brand-secondary: #F2FFD7;
  
  --color-accent-gold: #D4AF37;
  
  --color-olive-50: #F2FFD7;
  --color-olive-100: #E2ECBC;
  --color-olive-200: #CED5C1;
  --color-olive-700: #2D3D00;
  --color-olive-800: #1A2400;
  --color-olive-900: #092900;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }
}

@layer components {
  .nav--scrolled {
    @apply bg-white/90 backdrop-blur-md shadow-sm py-2;
  }
}

/* Custom Selection Color */
::selection {
  background: #ced5c1;
  color: #2d3423;
}
